<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
  <property name="hibernate.connection.password">startapio</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ibring</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="current_session_context_class">thread</property> 
  <property name="hibernate.generate_statistics">true</property>
  <mapping class="br.com.ibring.model.user.User"/>
  <mapping class="br.com.ibring.model.request.Request"/>
  <mapping class="br.com.ibring.model.purchase.Purchase"/>
  <mapping class="br.com.ibring.model.agreement.Agreement"/>
 </session-factory>
</hibernate-configuration>
